* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  background-color: #000000cc;
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
}

.header-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  list-style: none;
}

.header-item {
  padding: 11px;
}

.header-logo {
  width: 17px;
}

.search-icon,
.bag-icon {
  font-size: 18px;
  color: #f5f5f7;
  opacity: 0.8;
}

.header-link {
  font-size: 12px;
  color: #f5f5f7;
  opacity: 0.8;
}

.top_section_header {
  background-color: #f5f5f7;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  padding: 1.25rem 0;
}

.unicef-link {
  color: #06c;
  font-size: 0.875rem;
}

.north_east {
  font-size: 0.8rem;
}
